
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="canonical" href="http://bharattouch.com/" />
    <link rel="icon" href="~/Content/images/favicon_bharatTouch.ico" type="image/x-icon">

    <title>Bharat Touch | Switch Over To Virtual Business Cards</title>
    <meta content="Forget the paper business cards, using Bharat Touch enables you to actually use the received information. You can capture contacts in full compliance and with ease of mind. " name="description">
    <meta content="virtual, digital, business card, online business card, mini website, online presence, contact less business card" name="keywords">
    <!-- Favicons -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/HomeAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HomeAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    @*<link href="~/HomeAssets/vendor/aos/aos.css" rel="stylesheet">*@
    <link href="~/HomeAssets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/HomeAssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/HomeAssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/HomeAssets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: FlexStart - v1.2.0
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    @Styles.Render("~/Content/homeCss")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                @*<img src="~/homeassets/img/logo.png" alt="Aviecard">
                    <span>Avi eCard</span>*@
                <img src="~/homeassets/img/bharattouch3.PNG" alt="Bharat Touch">
            </a>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <p></p>


    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about" style="margin-top:90px;">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>
                                Has COVID-19 Pandemic Made Business Card Redundant? Time to Switch Over to Virtual Business Cards
                            </h2>
                            <div class="col-lg-12 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">

                                <img src="~/homeassets/img/blog_banner.png" class="img-fluid" alt="virtual business card">

                            </div>
                            <p>
                                From CEOs to fresh college graduates and even freelancers, business cards have played a crucial role in promoting a business and networking with new people. It is a cost-effective way for businesses and freelancers to advertise about their business or brand. Yes, it is a fact that most people would take your card and keep it somewhere only to find it after some years. However, seeing the physical card will prompt an individual to contact you if he/she is in need of any of your products or services.
                            </p>

                            <div class="row gx-0">
                                <div class="col-lg-7 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                                    <div class="contentsss">
                                        <p>
                                            Traditional business cards have been in existence for many centuries. However, the COVID-19 pandemic has led to a drastic decline in the use of business cards and made them completely redundant. In the COVID-19 world, there have been less face-to-face interactions between people, meetings switched over to the digital mode, cancellation of several events, work from home, social distancing, and going contactless in everything. Most organizations across the globe are working from home. The question that arises in the mind of everyone is – Are business cards dead? The answer to this question is Yes. With no face-to-face networking events happening, business cards have lost their significance. Zoom calls, Google Meet, and video conferencing have become the new normal to meet and connect with new people. The digital world and virtual meetings have opened the door for something new – digital or virtual business cards.
                                        </p>
                                        <h3>Reasons why business cards are dead – at least at present in the pandemic world</h3>
                                        <p>
                                            <b>The rise of smartphones</b>
                                        </p>
                                        <ul>
                                            <li>
                                                In today’s digital world, smartphones have become a one-stop solution for everything.
                                            </li>
                                            <li>The smartphone follows people wherever they go.</li>
                                            <li>
                                                Whether you want to connect with a client on Instagram or add them on your official LinkedIn page, everything is possible through a smartphone.
                                            </li>
                                            <li>
                                                Social media apps like LinkedIn, Facebook, Twitter, and chat applications like WhatsApp and Telegram have changed everything.
                                            </li>
                                            <li>
                                                With so many options, a physical business card looks like a thing of the past.
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                                    <div class="content" style="padding:21px;width:100%;">
                                        <iframe src="https://www.youtube.com/embed/RBPB7Etc4_g?autoplay=1&amp;rel=0"
                                                allowfullscreen="allowfullscreen"
                                                mozallowfullscreen="mozallowfullscreen"
                                                msallowfullscreen="msallowfullscreen"
                                                oallowfullscreen="oallowfullscreen"
                                                webkitallowfullscreen="webkitallowfullscreen" allow='autoplay' height="450" width="100%" style="border:0!important;"></iframe>

                                    </div>
                                </div>
                            </div>
                            <h3>
                                Work from home
                            </h3>
                            <ul>
                                <li>
                                    The work from home option has changed everything.
                                </li>
                                <li>With the increasing cases of COVID-19 and the chances of contacting the virus while going outside has resulted in most of the employees working from home.</li>
                                <li>
                                    For those who were eager for this option prior to the pandemic, it has come as a blessing and turned out to be a reality, especially with the lockdown orders being enforced at many places.
                                </li>
                                <li>
                                    However, not everything has flourished in the work from home period. These include restaurants, gymnasiums, and business cards of course.
                                </li>
                            </ul>
                            <h3>
                                No in-person networking
                            </h3>
                            <p>
                                Thanks to the Coronavirus, social networking events that used to happen frequently in-person have now been discontinued due to the social distancing measures. The exchange of business cards thrived during the networking events and meetings that happened at hotels or resorts. But most of them are closed now and with various events getting cancelled or postponed due to the pandemic, there is no use of business cards.
                            </p>
                            <b>Beginning of the era of digital business cards</b>
                            <p>Digital business cards, also known as virtual business cards, are an electronic version of the physical paper-based cards. There are a handful of digital business card websites and applications that let you create your virtual business card and customize it the way you want to. Digital business cards can carry a lot more information than the physical card, including all your social networking handles. A digital business card can be exchanged without any contact with individuals.</p>
                            <p>
                                <b>
                                    Benefits of virtual business cards
                                </b>
                            </p>
                            <h3>
                                Exchange anytime anywhere
                            </h3>
                            <ul>
                                <li>
                                    All this while, in order to exchange a business card, you had to be physically present in front of the person.
                                </li>
                                <li>
                                    Digital business cards can be exchanged seamlessly through a Zoom call, WhatsApp and even through various social media platforms.
                                </li>
                                <li>
                                    They can be sent through Bluetooth and as an attachment as well.
                                </li>
                                <li>
                                    This means you can share a virtual business card virtually with anyone, anywhere, and of course from a safe distance.
                                </li>
                            </ul>
                            <h3>
                                Limit the exposure to microbes
                            </h3>
                            <ul>
                                <li>
                                    In the pandemic days, people are quite conscious about their health and cleanliness too.
                                </li>
                                <li>
                                    People sanitize their hands and also the things they receive from others.
                                </li>
                                <li>
                                    Exchange of digital cards is totally touch-free and virus-free as well since there is no in-person physical contact needed.
                                </li>
                            </ul>
                            <h3>
                                Up-to-date information
                            </h3>
                            <p>
                                What if you switch a job, get promoted to a higher designation, or change your email id or contact number? In the case of a physical business card, you would need to get new business cards printed. This means extra expenditure. However, with digital business cards, any information can be edited anytime. You can add some fields and even remove some which are no longer required.
                            </p>
                            <h3>
                                Environment friendly
                            </h3>
                            <p>
                                Printing of business cards requires a lot of paper. For the business cards printed every year, nearly 7.2 million trees are being felled. Most of these business cards that are printed go waste. Thus, digital business cards are beneficial for the environment since it involves no wastage of paper and reduces the carbon footprint as well.
                            </p>
                            <p>
                                Although physical business cards are not being exchanged at present due to the pandemic, with vaccinations that are going on, normalcy is likely to be restored soon. Once everything opens and life comes back to normal, physical business cards will once again continue to be exchanged. However, considering the benefits offered by digital business cards, most entrepreneurs, freelancers, college graduates, and managers would like to switch over to an e business card.
                            </p>
                            <p>
                                Of course, an electronic business card can be carried anywhere and there is no need to print them or carry them with you when you go for any meetings or events.
                            </p>
                        </div>
                    </div>


                </div>
            </div>

        </section><!-- End About Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Bharat Touch - 2025</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/HomeAssets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/HomeAssets/vendor/aos/aos.js"></script>
    @*<script src="~/HomeAssets/vendor/php-email-form/validate.js"></script>*@
    <script src="~/HomeAssets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/HomeAssets/vendor/purecounter/purecounter.js"></script>
    <script src="~/HomeAssets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/HomeAssets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/HomeAssets/js/main.js"></script>

    @Scripts.Render("~/bundles/VendorJs")
    @Scripts.Render("~/bundles/SpecificPageJS")

</body>

</html>