<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a data-bs-toggle="tooltip" title="Company" data-bs-placement="right" class="nav-link collapsed loaderMenubar" href="/Company/CompanyIndex">
                <i class="fa fa-building"></i>
                @*<span>Company</span>*@
            </a>
        </li>

         <li class="nav-item">
            <a data-bs-toggle="tooltip" title="User" data-bs-placement="right" class="nav-link collapsed loaderMenubar" href="/Company/UserIndex">
                <i class="fa fa-user"></i>
                @*<span>User</span>*@
            </a>
        </li>

         <li class="nav-item">
            <a data-bs-toggle="tooltip" title="Leads" data-bs-placement="right" class="nav-link collapsed loaderMenubar" href="/Company/LeadIndex">
                <i class="bx bx-layer-plus"></i>
                @*<span>Leads</span>*@
            </a>
        </li>

        <li class="nav-item">
            <a data-bs-toggle="tooltip" title="Page Impression" data-bs-placement="right" class="nav-link collapsed loaderMenubar" href="/Company/PageImpressionIndex">
                <i class="bx bx-laptop"></i>
                @*<span>Leads</span>*@
            </a>
        </li>


    </ul>

</aside>
<!-- End Sidebar-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        var currentPath = window.location.pathname;

        $('#sidebar-nav li.nav-item a.nav-link').each(function () {
            var linkPath = $(this).attr('href');

            var normalizedCurrentPath = currentPath === '/' ? '/' : currentPath.replace(/\/$/, '');
            var normalizedLinkPath = linkPath === '/' ? '/' : linkPath.replace(/\/$/, '');


            if (normalizedCurrentPath === normalizedLinkPath) {
                $(this).removeClass('collapsed');
                $(this).closest('li.nav-item').addClass('active');
            } else {
                $(this).closest('li.nav-item').removeClass('active');
            }
        });

    });
</script>
