@model DataAccess.Models.YouTubeModel
@using BharatTouch.CommonHelper
@using DataAccess
@{
    int companyId = BharatTouch.CommonHelper.Utility.GetCookie("CompanyId_auth").ToIntOrZero();
    bool disableCompanyManagedSections = companyId > 0;
}

<div id="divYoutubeShowHide">

    @using (Html.BeginForm("SaveYouTube", "Users", FormMethod.Post, new { id = "upsertYouTubeForm", @class = "php-email-form", @enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(t => t.YouTubeId)
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="name"><span style="color:red;">*</span>Title</label>
                @Html.TextBoxFor(t => t.YouTubeTitle, new { @class = "form-control required-left", @placeholder = "" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="name"><span style="color:red;">*</span>YouTube URL</label>

                @Html.TextBoxFor(t => t.YouTubeUrl, new { @class = "form-control required-left", @placeholder = "" })
            </div>
        </div>



        <div class="form-row">

            <div class="form-group col-md-6">
                <button class="btn btn-secondary btn-block" id="btnCancelYouTube" type="button">Cancel</button>
            </div>
            <div class="form-group col-md-6">

                <button class="btn-block share-btn" id="btnYoutubeSave" type="submit"><div class="lds-dual-ring"></div>&nbsp;@((Model == null || Model.YouTubeId == 0) ? "Add" : "Update") YouTube Video</button>

            </div>
        </div>

    }

</div>




<script>
    debugger;
    $(document).ready(function () {
        if (@companyId > 0) {
            //$('#YouTubeTitle').prop('disabled', true);
            //$('#YouTubeUrl').prop('disabled', true);
            $("#divYoutubeShowHide").hide();
        }
        else {
            $("#divYoutubeShowHide").show();
        }
    });

</script>


