@using DataAccess
@{
    ViewBag.Title = "Home - Avi E-Card";
    Layout = "~/Views/Shared/_homeLayout.csHtml";
}


<section id="pricing" class="pricing mt-4">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br /><br />
            <h3>Start using Avi eCard for free</h3>
            <p>But once you love it, then you will upgrade it</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <h3 style="color: #07d5c0;">Free Plan</h3>
                    <div class="price"><sup>INR</sup>0<span> / yr</span></div>
                    <img src="~/HomeAssets/img/pricing-free.png" class="img-fluid" alt="">
                    <ul>
                        <li>2 photo in gallery</li>
                        <li>1 video in video galler</li>
                        <li>1 custom link</li>
                        <li>Avi eCard ads</li>
                        <li class="na">Service catalogue, Resume, Menu PDF</li>
                        <li class="na">Contact Us form</li>
                        <li class="na">Blog Section</li>
                        <li class="na">My Team Section</li>
                        <li class="na">Profile view analytics</li>
                        <li class="na">Lifetime valid physical card</li>
                    </ul>
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <span class="featured">Featured</span>
                    <h3 style="color: #65c600;">Starter Plan</h3>
                    <div class="price"><sup>INR</sup>499<span> / yr</span></div>
                    <img src="~/HomeAssets/img/pricing-starter.png" class="img-fluid" alt="">
                    <ul>
                        <li>Unlimited photo in gallery</li>
                        <li>Unlimited video in video galler</li>
                        <li>1 custom link</li>
                        <li>Avi eCard ads</li>
                        <li>Service catalogue, Resume, Menu PDF</li>
                        <li>Contact Us form</li>
                        <li>Blog Section</li>
                        <li class="na">My Team Section</li>
                        <li class="na">Profile view analytics</li>
                        <li class="na">Lifetime valid physical card</li>
                    </ul>
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <h3 style="color: #ff0071;">Ultimate Plan</h3>
                    <div class="price"><sup>INR</sup>999<span> / yr</span></div>
                    <img src="~/HomeAssets/img/pricing-ultimate.png" class="img-fluid" alt="">
                    <ul>
                        <li>Unlimited photo in gallery</li>
                        <li>Unlimited video in video galler</li>
                        <li>1 custom link</li>
                        <li class="na">Avi eCard ads</li>
                        <li>Service catalogue, Resume, Menu PDF</li>
                        <li>Contact Us form</li>
                        <li>Blog Section</li>
                        <li>My Team Section</li>
                        <li>Profile view analytics</li>
                        <li>Lifetime valid physical card</li>
                    </ul>
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>

        </div>

    </div>

</section><!-- End Pricing Section -->
