
<div>
    <style>

        .pdfDownloadBtn:hover {
            color: #ffffff47;
        }
    </style>
    <div id="actionbtnContainer">
        <button id="btnPdfDownload" class="btn m-2 pdfDownloadBtn" style="padding: 0px 3px; height: 30px; font-size: 17px; background-color: #149ddd; color: white; width: 33px;"><i class="icofont-download"></i></button>
        <button id="btnPdfPrint" class="btn m-2 pdfDownloadBtn" style="padding: 0px 3px; height: 30px; font-size: 17px; background-color: #149ddd; color: white; width: 33px;"><i class="icofont-printer"></i></button>
        <button id="btnSendPdfMail" class="btn m-2 pdfDownloadBtn" style="padding: 0px 3px; height: 30px; font-size: 17px; background-color: #149ddd; color: white; width: 33px;"><i class="icofont-envelope-open"></i></button>
    </div>
    <hr />
    <div id="invoicePdfHtmlContent"></div>
</div>